.card{
    display: flex;
    margin: 20px;
    padding: 20px;
    min-width:250px;
    max-width: 500px;
    width: 40vw;
    background-color: white;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 25px -15px rgb(0, 0, 0);
    flex-wrap: wrap;

}

.card:hover{
    transform: scale(1.1);
}

.card img{
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    margin: 10px;
}
.info{
    width: 15vw;
    max-width: 300px;
    min-width: 200px;
}
.tCiudad{
    color:orange;
}


@media (max-width: 320px ){
.card{
    margin-left: 0;
    margin-right: 0;
}
}